.env.local
node_modules/
hosting/node_modules/
hosting/dist/
functions/node_modules/
emulator-ui/node_modules/
emulator-ui/dist/
scripts/node_modules/
scripts/serviceKeyAccount.json
scripts/serviceKeyAccount_old.json
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
storage-debug.log
